# Notepad of things I will regularly use

Table:
```
<figure>
  <table>
    <thead>
      <tr>
        <th>Input</th>
        <th>Output</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>5</td>
        <td>2</td>
      </tr>
      <tr>
          <td>5</td>
          <td>4</td>
        </tr>
    </tbody>
  </table>
  <figcaption style="text-align: center;">Table C</figcaption>
</figure>
```

Hide solutions
```
<details>

<summary><strong>Solution</strong></summary>

The first and second tables define function. In both, each input corresponds
to exactly one output. The third table does not define a function
since the input value of $5$ corresponds with two different output
values.

</details>
```